* {
	font-family: 'Noto Serif', serif;
}

:root {
	--left-line-thickness: 4px;
	--sidebar-width: 200px;
	--sidebar-content-gap: 20px;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #21333F;
	color: #DDD;
}

/* On big screens */
@media (min-width: 650px) {
	body {
		/* Sidebar on the left, main page on the right */
		display: grid;
		grid-template-columns: calc(var(--sidebar-width) + var(--left-line-thickness)) 1fr;
		gap: calc(var(--sidebar-content-gap) + var(--left-line-thickness));
	}

	nav {
		margin-left: var(--left-line-thickness);
	}

	main {
		/* important to override the `padding-inline` below, which is important for mobile */
		padding-right: 17vw !important;
	}
}

@media (min-width: 1250px) {
	.two-col {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
}
@media (max-width: 1250px) {
	.two-col {
		margin-bottom: 20px;
	}
}

main {
	font-size: 20px;
	padding-inline: 10px;
	overflow-x: auto;
}

a {
	color: #82AAA3;
}
a:visited {
	color: #D4BC7D;
}

nav a[target="_blank"]::after {
	content: url("assets/newtab.svg");
	align-self: center;
	content-color: #FFF;
	height: 24px;
}

nav a[target="_blank"] {
	display: flex;
	justify-content: space-between;
}

nav {
	color: #999;
	background-color: #15212A;
	font-size: 20px;
}

nav > * {
	display: block;
}

nav h1 {
	font-size: unset;
	font-weight: unset;
	margin: unset;

	margin-inline: 3px;
	margin-top: 7px;
}

nav > h1:first-of-type {
	margin-top: 20px;
}

nav a {
	text-decoration: none;
	color: #CCC;
	background-color: #10191F;
	margin-bottom: 3px;
	padding-inline: 10px;
	border-radius: 4px;
}

nav a:hover {
	color: #FFF;
	background-color: #1C4449;
}
nav a:visited {
	color: #CCC;
}

pre {
	overflow-x: auto;
}

code {
	font-family: monospace;
	border-radius: 4px;
	background-color: #18262F;
	padding-inline: 3px;
}

pre code {
	display: block;
	font-size: 15px;
	background-color: #18262F;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	overflow-x: scroll;
	tab-size: 4;
}

footer {
	padding-top: 60vh;
	padding-bottom: 20px;
	text-align: center;
}

img, picture /*, video, canvas, svg*/ {
	display: block;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

figure {
	text-align: center;
}

img.drizzle {
	max-width: 90%;
}

/* tables */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200 200 200);
  letter-spacing: 1px;
}

td,
th {
  border: 1px solid rgb(190 190 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}
